<h1>Todos List</h1>

@if (!todosService.loading) {
<div>
  <h2>Overdue</h2>

  @if (todosService.overdueTodos.length > 0) {
  <app-todos-list
    [onToggle]="onToggle()"
    [onEdit]="onEdit()"
    [onDelete]="onDelete()"
    [list]="todosService.overdueTodos"
  ></app-todos-list>
  } @else {
  <p>Empty...</p>
  }
</div>

<div>
  <h2>Actual</h2>

  @if (todosService.actualTodos.length > 0) {
  <app-todos-list
    [onToggle]="onToggle()"
    [onEdit]="onEdit()"
    [onDelete]="onDelete()"
    [list]="todosService.actualTodos"
  ></app-todos-list>
  } @else {
  <p>Empty...</p>
  }
</div>

<div>
  <h2>Completed</h2>

  @if (todosService.completedTodos.length > 0) {
  <app-todos-list
    [onToggle]="onToggle()"
    [onEdit]="onEdit()"
    [onDelete]="onDelete()"
    [list]="todosService.completedTodos"
  ></app-todos-list>
  } @else {
  <p>Empty...</p>
  }
</div>
} @else {
<h3>Loading now...</h3>
}

<hr />

<app-add-todo-form [onCreate]="onCreate()"></app-add-todo-form>
